@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph/Default */
  font-family: "Avenir", Sans-serif;
}

button {
  outline: none;
  box-shadow: none;
}
.max-w-7xl {
  max-width: 1219px;
  width: 100%;
}

.max-w-full {
  max-width: 1440px;
  width: 100%;
}

.max-h-full {
  height: 41.125rem;
}

/* first section styling */
.hero-section .group {
  display: none;
}
.heading {
  max-width: 952.871px;
  padding: 0 20px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 44px;
  font-weight: 900;
  line-height: 56px; /* 127.273% */
}
.heading span {
  background: linear-gradient(85deg, #5b9bed 11.98%, #c666bf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  background: linear-gradient(85deg, #5b9bed 11.98%, #8b2614 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  max-width: 899.723px;
  min-height: 43.825px;
  flex-shrink: 0;
  color: #5b667b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px; /* 170% */
  padding: 0 20px;
}
.banner-image {
  border-radius: 19px;
}

/* card customization */

div[data-testid="flowbite-card"] > div {
  padding: 1.5rem 0 1.5rem 0;
  gap: 0;
}
div[data-testid="flowbite-card"] > img {
  border-radius: 1.5rem;
}
div[data-testid="flowbite-card"] > div h5 {
  color: #233650;
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
}
div[data-testid="flowbite-card"] > div .card-description {
  color: #5b667b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 0.5rem;
}

.learn-more {
  color: #2265b0;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 5.375rem;
}
.learn-more span {
  margin-left: 6px;
}

/* second section styling */
.common-section .heading {
  text-align: start;
}

.common-section .description {
  text-align: start;
}

.common-section .section-bullets {
  padding: 0 20px;
}
.common-section .section-bullets p {
  color: #5b667b;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px; /* 170% */
  margin-bottom: 0.75rem;
}
.common-section .section-bullets span {
  margin-right: 14px;
}

.common-section .learn-more-button {
  margin-left: 1.25rem;
  margin-top: 2rem;
  display: flex;
  padding: 20px 30px 22px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 96px;
  background: #2265b0;
  color: #fff;
}

/* platform section */

.platform-section .heading {
  max-width: 53.438rem;
}

/* testimonial css starts from here  */

.testimonial-description {
  padding: 25px 14px 25px 30px;
  border-radius: 1.5rem;
}

/* identity section */

.identity-section {
  background: linear-gradient(#fff 50%, #f2f4f9 50%);
}

.identity-section .heading {
  max-width: 1220px;
  padding: 0;
  color: #233650;
  font-family: "Avenir-Bold",Sans-serif;
  font-size: 38px;
}
.identity-card {
  box-shadow: 0px 8px 28px 0px rgba(20, 20, 43, 0.1);
  margin: 0px 18.666px 0px 0px;
  padding: 57px 32px 68px 32px;
  border-radius: 1.5rem;
  background: #fff;
}
.identity-card img {
  text-align: left;
  margin-bottom: 1.25rem;
}

.identity-card h4 {
  color: #233650;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: 4px 0px 12px 0px;
  font-weight: 600;
}

.identity-card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

.identity-card a {
  padding: 12px 23px !important;
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 800;
  border: solid 2px #2265b0 !important;
  background-color: #2265b0 !important;
  display: flex;
  width: max-content;
  border-radius: 96px;
  color: #fff;
  align-items: center;
}
.identity-card a > span {
  margin-left: 6px;
}
/* footer css */

.footer-t,
.footer-b {
  border-bottom: 1px solid rgb(84, 84, 84);
  padding-bottom: 3rem;
}
