@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirBlack";
  src: url('../public/Avenir/AvenirBlack.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "AvenirRoman";
  src: url('../public/Avenir/AvenirRoman.ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "AvenirMedium";
  src: url('../public/Avenir/AvenirMedium.ttf');
  font-weight: normal;
  font-style: italic;
}

html {
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph/Default */

  font-family: AvenirRoman;
  font-feature-settings: 'clig' off, 'liga' off;
}

button {
  outline: none;
  box-shadow: none;
}
.w-screen {
  width: 100%;
}
.max-w-7xl {
  max-width: 1240px;
  width: 100%;
  padding: 0 10px;
}

.max-w-full {
  max-width: 1440px;
  width: 100%;
}

.max-h-full {
  height: 41.125rem;
}


.py-24 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}



.heading {
  max-width: 952.871px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 44px;
  font-weight: 900;
  color: #233650;
  line-height: 56px; /* 127.273% */
  font-family: AvenirBlack;
}
.heading span {
  background: linear-gradient(85deg, #5b9bed 11.98%, #c666bf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-heading {
  background: linear-gradient(85deg, #5b9bed 11.98%, #8b2614 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description {
  max-width: 899.723px;
  min-height: 43.825px;
  flex-shrink: 0;
  color: #5b667b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px; /* 170% */
}
.banner-image {
  border-radius: 19px;
}

/* first section styling */
.hero-section {
  background: linear-gradient(269deg, #F2F5F7 0%, #FEFEFE 100%);
}
.hero-section .group {
  display: none;
}
.hero-section .heading {
  text-align: start;
  padding: 0;
}
.hero-section button {
  max-height: 62px;
}
.hero-section button:nth-child(2) > span {
  border-radius: 79px;
  border: 2px solid  #2265B0;
}

.hero-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* first section */
.first-section .card img{
  height: 15.5rem;
}

.first-section .card .learn-more{
  font-family: AvenirBlack;
}

/* card customization */

div[data-testid="flowbite-card"] > div {
  padding: 1.5rem 0 1.5rem 0;
  gap: 0;
}
div[data-testid="flowbite-card"] > img {
  border-radius: 1.5rem;
}
div[data-testid="flowbite-card"] > div h5 {
  color: #233650;
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
}
div[data-testid="flowbite-card"] > div .card-description {
  color: #5b667b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 0.5rem;
}

.learn-more {
  color: #2265b0;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 5.375rem;
}
.learn-more span {
  margin-left: 6px;
}



/* second section styling */
.common-section .heading {
  text-align: start;
}

.common-section .description {
  text-align: start;
}

.common-section .section-bullets p {
  color: #5b667b;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px; /* 170% */
  margin-bottom: 0.75rem;
}
.common-section .section-bullets span {
  margin-right: 14px;
}

.common-section .learn-more-button {
  margin-top: 1.9rem;
  display: flex;
  padding: 19px 35px 19px 35px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 96px;
  background: #2265b0;
  color: #fff;
}

/* platform section */

.platform-section .heading {
  max-width: 53.438rem;
}

/* testimonial css starts from here  */

.testimonial-description {
  padding: 25px 30px 25px 30px;
  border-radius: 1.5rem;
}

/* identity section */

.identity-section {
  background: linear-gradient(#fff 50%, #f2f4f9 50%);
}

.identity-section .heading {
  max-width: 1220px;
  padding: 0;
  color: #233650;
  font-family: "Avenir-Bold", Sans-serif;
  font-size: 38px;
}
.identity-card {
  box-shadow: 0px 8px 28px 0px rgba(20, 20, 43, 0.1);
  padding: 57px 32px 68px 32px;
  border-radius: 1.5rem;
  background: #fff;
}

.identity-card img {
  text-align: left;
  margin-bottom: 1.25rem;
}

.identity-card h4 {
  color: #233650;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: 4px 0px 12px 0px;
  font-weight: 600;
}

.identity-card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

.identity-card a {
  padding: 12px 23px !important;
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 800;
  border: solid 2px #2265b0 !important;
  background-color: #2265b0 !important;
  display: flex;
  width: max-content;
  border-radius: 96px;
  color: #fff;
  align-items: center;
}
.identity-card a > span {
  margin-left: 6px;
}
.workplace-card {
  opacity: 1;
  position: relative;
  border: 1px solid #2265b0 !important;
  height: 267px;
}
.workplace-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: .2;
  border-radius: 1.5rem;
  
}

.workplace-card h5 {
  color:  #233650;
font-feature-settings: 'clig' off, 'liga' off;
font-family: AvenirBlack;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 32px; 
}

.workplace-card:hover {
  background: linear-gradient(129.82deg, #5b9bed 8.5%, #c666bf 97.33%);
  color: white;
  opacity: 0.85;
  border: 1px solid #2265b0 !important;
}
.workplace-card a {
  font-family: AvenirBlack;
}

.workplace-card:hover a, .workplace-card:hover p, .workplace-card:hover h5 {
  color: #fff;
}

.workplace-card:hover .white-arrow {
  display: block !important;
}
.workplace-card:hover .blue-arrow {
  display: none;
}

white-arrow
/* footer css */

.footer-t,
.footer-b {
  border-bottom: 1px solid rgb(84, 84, 84);
  padding-bottom: 3rem;
}
